function Random.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 2
pop this 0
push pointer 0
return
function Random.updateSeed 1
push argument 0
pop pointer 0
push this 0
push constant 3
call Math.multiply 2
push argument 1
add
pop local 0
push local 0
push local 0
push constant 9999
call Math.divide 2
push constant 9999
call Math.multiply 2
sub
pop this 0
push constant 0
return
function Random.nextInt 2
push argument 0
pop pointer 0
push this 0
push constant 3
call Math.multiply 2
push constant 313
add
push constant 10101
and
pop local 1
push local 1
push local 1
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
pop local 0
push local 0
push constant 16
call Math.divide 2
push constant 16
call Math.multiply 2
return
